# Ignore everything
*
.DS_Store
!*/**

!.gitignore

!install/
!alacritty/
!wezterm/
!kitty/
!ghostty/

!nvim/
!zsh/
zsh/local.zsh
!sketchybar/
!simple-bar/
!tmux/
!yabai/
!skhd/
!hammerspoon/
!borders/
!aerospace/

!neofetch/

*.env*
**.claude**
